*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines 1rem
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
}

.wrapper {
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}