.material-icons.med {
    font-size: 3rem;
}

.controls__icons {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
}