@import 'variables';
@import 'mixins';
@import 'animations';
@import 'base';
@import 'iconstyling';

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    height: 100vh;
    background-image: linear-gradient(to right bottom, $bg-color-primary, $bg-color-secondary);
}

.container {
    max-width: 70rem;
    margin: 10vh auto;
    border-radius: 6px;
    overflow: hidden;
}

.header {
    background-color: $bg-color-light;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1rem 5rem 0.5rem rgba($color-shadow, 0.2);
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: .7rem;
    backface-visibility: hidden;
    &__logo {
        display: block;
        height: 4rem;
        margin-left: 2rem;
        animation: moveFromLeft 1s ease-out;
        transition: all .5s;
        
        &:hover {
            transform: scale(1.05);
        }
    }
}

.login {
    background-color: $color-white;
    border-radius: 10rem;
    border: 1px solid $color-grey-light;
    padding-left: 2.5rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    animation: moveFromRight 1s ease-out;
    transition: all .3s;

    &--logged {
        display: none;
    }

    &:focus-within {
        transform: translateY(-1px);
        box-shadow: 0 .7rem 3rem rgba(101, 90, 86, 0.08);
    }

    &__field {
        border: none;
        background: none;
        font-family: inherit;
        color: inherit;
        font-size: 1.7rem;
        width: 30rem;
    
        &:focus {
            outline: none;
        }
    }
}

.logged-box {
    &__greetings {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        display: inline-block;
        margin-right: 4rem;
        letter-spacing: .4rem;
    }
}

.btn {
    background-image: linear-gradient(to right bottom, $bg-color-primary, $bg-color-secondary);
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: $color-white;
    cursor: pointer;
    transition: all .2s;
    padding: 1.3rem 3rem;
    font-size: 1.4rem;
    outline: none;

    &:hover {
        transform: scale(1.05);
    }
}


.player-box {
    background-color: $bg-color-light;
    //min-height: 60vh;
    user-select: none;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-shadow, 0.2);

    &__controls {
        display: flex;
        padding: 1rem;
        justify-content: space-around;
        color: $color-grey-dark;
        box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.25);

        .prog-bar {
            margin: auto 0;
            height: 1.6rem;
            &[value] {
                -webkit-appearance: none;
                appearance: none;
                &::-webkit-progress-bar {
                    background-color: $color-grey-light;
                    border-radius: .2rem;
                    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.25) inset;
                } 
                &::-webkit-progress-value {
                    background-image:
                    -webkit-linear-gradient(-45deg,transparent 33%,rgba(0, 0, 0, .1) 33%,rgba(0,0, 0, .1) 66%, transparent 66%),
                    -webkit-linear-gradient(top,rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
                    -webkit-linear-gradient(left, $bg-color-primary, $bg-color-secondary);

                    border-radius: .2rem; 
                    background-size: 3.5rem 2rem, 100% 100%, 100% 100%;
                }
            }
            
            &__timeline {
                width: 45%;
            }
        }

        .time {
            margin: auto 0;
            font-size: 1.6rem;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .4rem;
        text-align: center;
        margin-top: 2rem;
    }

    .tracks {
        list-style: none;
        padding: 3rem;
        padding-top: 1rem;

        &__item {
            position: relative;
            font-size: 2rem;
            font-weight: 300;
            padding: .3rem .5rem;
            border-bottom: 1px solid $bg-color-light;
            transition: transform .3s ease;
            backface-visibility: hidden;
            animation: moveFromLeft 1s ease-out;

            &--close {
                opacity: 0;
                position: absolute;
                padding: 0 1.5rem;
                top: 0;
                right: 0;
                transition: all .3s ease;
            }

            &:hover {
                border-bottom: 1px solid $color-black;
                transform: scale(1.05);
                .tracks__item--close {
                    opacity: 1;
                }
            }
        }
    }
}

.download-box {
    position: absolute;
    z-index: 1000;
    background-color: $bg-color-light;
    min-height: 30rem;
    min-width: 15%;
    border-radius: 6px;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-shadow, 0.2);
    margin: 10vh 0;
    text-align: center;
    user-select: none;
    transform: translateX(-90%);
    transition: transform .5s ease;
    &:hover {
        transform: translateX(0);
    }

    &__btn {
        display: inline-block;
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .4rem;
        position: absolute;
        right: -7.5rem;
        top: 13rem;
        transform: rotate(-90deg);
    }
}

.download-info {
    margin: 4rem;
    border: 1px solid $color-grey-light;
    border-radius: 5rem;
    user-select: none;

    &__field {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        padding: 2rem 0;
    }

    &__btn {
        background-image: none;
        background-color: $bg-color-light;
        color: $color-black;
        border: 1px solid $color-grey-light;
        &:hover {
            box-shadow: 0 1.3rem 4rem 0.5rem rgba($color-shadow, 0.2);
            transform: scale(1);
        }

        &:active {
            box-shadow: 0 0.5rem 4rem 0.5rem rgba($color-shadow, 0.2);
        }
    }
}

.playlists-box {
    position: absolute;
    z-index: 1000;
    background-color: $bg-color-light;
    min-height: 30rem;
    min-width: 38rem;
    border-radius: 6px;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-shadow, 0.2);
    margin: 10vh 0;
    overflow: hidden;
    right: 0;
    user-select: none;
    transform: translateX(35.5rem);
    transition: transform .5s ease;
    &:hover {
        transform: translateX(0);
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .4rem;
        position: absolute;
        right: 30.3rem;
        top: 13rem;
        transform: rotate(-90deg);
    }

    &__field {
        border: 1px solid red;
        padding: 0.5rem;

        &:focus {
            outline: none;
        }
    }

    &__return {
        display: block;
        margin: 2rem auto;
    }
}

.playlist-add {
    display: block;
    margin: 2rem auto;
    text-align: center;

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .4rem;
        position: absolute;
        right: 30.5rem;
        top: 13rem;
        transform: rotate(-90deg);
    }

    &__field {
        border: 1px solid $color-grey-light;
        padding: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        &:focus {
            outline: none;
        }
    }

    &__btn {
        border: 1px solid $color-grey-light;
        padding: 1.1rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        user-select: none;
        transition: all .2s ease-out;

        &:hover {
            box-shadow: 0 1rem 4rem 0.3rem rgba($color-shadow, 0.2);
        }

        &:active {
            box-shadow: 0 0.5rem 4rem 0.3rem rgba($color-shadow, 0.2);
        }
    }
}

.playlists-list {
    position: relative;
    list-style: none;
    min-width: 85%;
    margin: 0 10%;
    user-select: none;
    margin-bottom: 2rem;

    &__item {
        background-color: $color-white;
        position: relative;
        font-size: 2rem;
        font-weight: 300;
        border: 1px solid $color-grey-light;
        padding: 0 0.5rem;
        transition: transform .2s ease;
        backface-visibility: hidden;

        &--close {
            border-left: 1px solid $color-grey-light;
            position: absolute;
            padding: 0 0.5rem;
            top: 0;
            right: 0;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:first-child {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
        }

        &:last-child {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
}

.main {
    display: none;
    overflow: hidden;
}

.download-box__upload {
    display: none;
}